/* body,header,footer {
    font-family: Slabo;
    font-size: xx-large;
}

i {
    font-size: 25px;
    margin-right: 50px;
    padding-top: 15px;

} */

/* header css */
body{
  font-family: Slabo;
  font-size: xx-large;
  text-align: center;
  /* color: aliceblue; */
  color: blue;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;

  }

.header{
      color: aliceblue;
      width: 100%;
      flex-direction: row;
      top: 0px;
      position: fixed;
  
     }    

nav{
  display: flex;


  }

ul.navigation-bar{
background-color: orange;
height: 40px;
width: 100%;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
display: flex;
padding-top: 20px;
padding-bottom: 10px;
position: relative;



}


button{
  height:40px;
  background-color:white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  font-weight: bolder;
}


div.left-nav{
  display: flex;
  justify-content: center;
  width: 100%;
  justify-items: flex-start;
  padding-top: 0px;
  padding-bottom: 30px;

}
div.right-nav{
  width: 30%;
  justify-items: flex-end;


}

#btnLogin-SignUp{
  background-color: white;
  color: black;
  border-color:beige;
}

.nav-text{
  width: 500px;

}

ul.bottom-navigation{
  background-color:white;
  position: fixed;
  color: black;
   height: 60px;
 display: flex;
 flex-direction: row;
 position: fixed;
width: 98%;
 margin-top: 0px;
 margin-bottom: 0px;
 padding-top: 20px;

   }
   
.search-span{
  width: 800px;
  /* margin-left: 100px; */
  
  
   }
  
  #searchbar{
  width: 600px;
   }
  
   #btnSearch{
       font-weight:bolder;
       width:100px;
       height: 45px;
       margin-left: 10px;
       background-color: orange;
       color:white;
       border-color: orange;
   }
  
  
   
  /* input[type="text"]{
      width: 1080px;
      height: 40px;
      border-radius: 5px;
      padding-left: 10px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      } */

    Textfield[type="text"]{
      width: 1080px;
      height: 40px;
      border-radius: 5px;
      padding-left: 10px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border-color: black;

    }  

.form{
        display: flex;
        margin-right:40px;
        margin-top: 20px;
        margin-left: 40px;
      justify-content: center;
      }
      

      /* mainbody */
      .categorysection{
        display: flex;
        width: 100%;
        margin-top: 150px;
        background-color:beige;
        height: 500px;
        color: black;
        
            }
        
        .left-div{
                background-color: beige;
                 margin-top: 50px;
                 padding-top: 150px;
                 padding-bottom:150px; 
                 margin-right: 0px;
                 padding-left: 50px;
                 height: 400px;
                 width: 40%;
                 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
             
         }
        
        .right-div{
            height: 300px;
            background-color: rgb(46, 46, 161);
            padding-top: 150px;
            margin-top: 150px;
            margin-right: 0px;
            padding-bottom: 150px;
            width: 60%
           
            
        }
        
        .category-section{
            display: flex;
            justify-content: flex-start;
            width:500px;
            height: 500px;
            background-color: white;
            padding-left: 0px;
        }
        
        #display-section{
            color: black;
           
        
         } 
            
        .model-section{
            display: flex;
            flex-direction: row;
           margin-left: 50px;
           margin-right: 30px;
        justify-content: center;
        
        
        
        }
        
        .phone-brands-list {
            padding: 1rem;
            width: 100%;
            list-style: none;
           
        }
        
        
        .phone-brand:hover{
            background-color:orange;
          }
        
        
        .phone-brand {
            border: 1px solid #71717133;
            border-radius: .3rem;
            margin-bottom: .1rem;
            list-style: none;
            font-size: xx-large;
           
            /* text-align: center; */
            /* padding-left: 30px; */
            
          
        }
        
        
        .phone-brand > a {
            text-decoration: none;
            color: black;
            
        
        }
        
        .models {
            display: block;
            width: 100%;
            background-color:white;
            border-radius: 10px;
            
        }
        
        .model-tile {
            display: inline-block;
            width: 250px;
            background-color:white;
        }
        
        .model-tile img {
            width: 150px;
            height: 150px;
            background-color:white;
          
        }



      /* footer */
      
.footer{
  color: black;
  background-color:gray;
  margin-top: 0px;
  padding-top: px;
  font-size: xx-large;
  height: 300px;

  }
  hr{
    display: block;
    border-color: brown;
    font-weight: bold;
  }
  #top-footer{
  padding-top: 5px;
  height: 600px;
  background-color: gray;
  }
  #bottom-footer{
    padding-top: 5px;
    height: 600px;
    background-color: gray;
    }
  
 
  img{
      padding-top: 50px;
  } 
  .para-heading{
      margin-left: 20px;
  
  }
  
  .footer-menu{
      display: inline-block;
      width: 500px;
      margin-left: 100px;
  }
  
  
  
  a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
  
    a:hover {
      color: orange;

      background-color: transparent;
      text-decoration: underline;
    }
    
    a:active {
      color:rgb(46, 46, 161);
      background-color: transparent;
      text-decoration: underline;
  
    }


  /* contact us*/
  
.contact-container {
  flex-flow: column;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: gray;
}
.div-title {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: row;
  /*flex-flow: row wrap;*/
  justify-content: space-between;
  width: 100%;
}

#sect1 {
  width: 100%;
}

#sect2 {
  width: 100%;
}

.contact-form > div {
  width: 500px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.input-field {
  height: 40px;
  margin: 15px 0;
}

.contact-btn {
  margin-top: 15px;
  height: 40px;
  color: white;
  border: 0;
  background-color: orange
  /* background-color: orange; */
}


  